<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type='text/javascript' language='javascript'>
$('#getdata').click(function(){
                $.ajax({
                        url : "http://localhost/nufood/index.php/android/get_menu",
                         type:'POST',
                         dataType: 'json',
                          error: function(){
                          $('#result_table').append('<p>goodbye world</p>');
                          },

                          success:function(data){
                                $('#result_table').append('<p>hello world</p>');
                                alert("Success!");
                                $.each(data.results, function(k, v) {
                                    $.each(v, function(key, value) {
                                        $('#result_table').append('<br/>' + key + ' : ' + value);
                                    })
                                })
                            }

                          }); // End of ajax call

                });
</script>