<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
$(document).ready(function(){
    $.ajax({
        url : "http://localhost/nufood/index.php/android/ceklogin",
        type: "POST",
        data : {nama : 'agus', password : 'agus'},
        dataType : 'json',
        success: function(data, textStatus, jqXHR)
        {
            console.log(data);
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
            alert('salah');
        }
    });

   
});
</script>


